In [1]:
import pandas as pd

Leitura do Arquivo csv, definição de ";" como separador, definição da coluna "Amostra" como index e definição de "," como separador decimal.

In [2]:
df = pd.read_csv('dados/Dados1.csv',sep=';',index_col='Amostra',decimal= ',')
df.head()

          Obs1   Obs2   Obs3   Obs4   Obs5   Obs6
Amostra
1        50.24  47.83  49.92  49.86  50.69  51.37
2        49.40  49.42  48.33  51.35  51.65  50.23
3        49.70  50.19  51.81  48.95  50.79  48.37
4        51.49  49.21  49.37  51.60  51.48  48.16
5        48.15  50.89  49.19  51.09  49.04  47.79

Criação de dataframe "df_dados" para facilitar a escrita e compreensão.

In [3]:
df_dados = df[['Obs1','Obs2','Obs3','Obs4','Obs5','Obs6']]

Criação da coluna "Media" com a média de cada linha.

In [4]:
df['Media'] = df_dados.mean(axis=1)

Criação da coluna "Amplitude" com a diferença do máximo e mínimo de cada linha.

In [5]:
df['Amplitude'] = df_dados.max(axis=1) - df_dados.min(axis=1)

Criação da coluna "Desvio Padrao" com o desvio padrão de cada linha.

In [9]:
df['Desvio Padrao'] = df_dados.std(axis=1)

In [10]:
df.head()

,Obs1,Obs2,Obs3,Obs4,Obs5,Obs6,Media,Amplitude,Desvio Padrao
Amostra,,,,,,,,,
1,50.24,47.83,49.92,49.86,50.69,51.37,49.985000,3.54,1.195337
2,49.40,49.42,48.33,51.35,51.65,50.23,50.063333,3.32,1.269577
3,49.70,50.19,51.81,48.95,50.79,48.37,49.968333,3.44,1.247372
4,51.49,49.21,49.37,51.60,51.48,48.16,50.218333,3.44,1.489368
5,48.15,50.89,49.19,51.09,49.04,47.79,49.358333,3.30,1.370699